/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: aqua;
  }
  
  .theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  
  .album-info {
    font-size: 20px;
  }
  
  .album-item {
    font-size: 25px;
  }
  
  .album-item:hover {
    background-color: rgb(242, 128, 128);
  }
  
  ul a:hover {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
