<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
        <div class="col-md-4">
            <h1>Forgotten Rock Albums Worth Rediscovering</h1>
        </div>

        <div class="col-md-2 album-info">
            <h3><%= link_to "Home", root_path%></h3>
        </div>
        <div class="col-md-2 album-info">
            <h3><%= link_to "New Album", new_album_path%></h3>
        </div>
        <div class="col-md-2 album-info">
            <h3><%= link_to "Sign Up", new_author_path %></h3>
        </div>
        <div class="col-md-2 album-info">
            <h3><%= link_to "Log In", login_path %></h3>
        </div>
      
    </div>
</nav>